# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Production builds
build/
dist/

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

#docs
docs/upgrades.txt